.form-group {
    border: 2px solid white;
    border-radius: 32px;
    display: inline-block;
    padding: 8px;
    position: relative;
}

.name, .email {
    background: none;
    color: white !important;
    position: relative;
    height: 36px;
    border-style: none;
    font-size: 16px;
    padding: 2px 40px 2px 10px;
}
.name {
    width: 130px;
}
.email {
    width: 200px;
    border-left: 2px solid white;
}
.btn-primary {
    background: #6c62fe !important;
    border-radius: 5px 32px 32px 5px !important;
    position: absolute;
    width: 60px;
    height: 100%;
    top: 0px;
    right: 0px;
    border: none !important;
    color: white;
    display: block;
    cursor: pointer;
}

.btn:hover {
    background: #594efb;
}
::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}
